RewriteEngine on  
RewriteRule ^([^/.]+)/?$ $1.php


# RewriteBase /
# RewriteCond %{REQUEST_URI}  ^/([^/]+)$
# RewriteRule .*  http://localhost/imS_v1/production/staff/%1 [L]

# RewriteCond %{HTTP_HOST}  ([^/]+)\.localhost.*
# RewriteCond %{REQUEST_URI}  ^/([^/]+)$
# RewriteRule .*  http://%1.localhost/IMS_v1/%1/%2 [L]

